@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}

/* Top Bar */
.logo {
    height: 54px;
    float: left;
}

.logo a img {
    height: 100%;
    width: auto;
}

.topbar {
    height: 54px;
    width: 1120px;
    margin: 0 auto;
}

.navigation {
    height: 54px;
    text-align: right;
}

.navigation ul {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.item {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.item a {
    color: black;
    vertical-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

/* Join Us header */
#join-header img {
    display: block;
    margin: 0 auto;
    padding: 120px;
}

/* Join Us */
.timeline .title {
    width: 1120px;
    margin: 0 auto;
    font-family: "IBM Plex Serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
}

.timeline .graphic {
    width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.timeline .graphic img {
    padding-right: 30px;
    padding-bottom: 100px;
    padding-top: 20px;
}

.contact-section .title {
    width: 1120px;
    margin: 0 auto;
    font-family: "IBM Plex Serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
}

.contact-section .text {
    width: 1120px;
    margin: 0 auto;
}

.contact-section .text p {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    padding-top: 20px;
}

#email-button {
    width: 1120px;
    padding-top: 24px;
    padding-bottom: 100px;
    padding-left: 60px;
}

/* Bottom Bar */
.bottom-bar {
    width: 1280px;
    height: 170px;
    background: linear-gradient(90deg, #25B6F5 2.1%, #3CD29C 100%);
    margin-top: 120px;
}

.bottom-logo {
    float: left;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 100px;
}

.bottom-links {
    float: right;
    padding-top: 45px;
    padding-right: 100px;
}

.bottom-links img {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.linkedin-link a {
    display: flex;
}

.instagram-link a {
    display: flex;
}