@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=IBM+Plex+Serif&family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
}

.logo {
    height: 54px;
    float: left;
}

.logo a img {
    height: 100%;
    width: auto;
}

.topbar {
    height: 54px;
    width: 1120px;
    margin: 0 auto;
}

.navigation {
    height: 54px;
    text-align: right;
}

.navigation ul {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.item {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.item a {
    color: black;
    vertical-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

#intro-graphic {
    width: 1120px;
    margin: 0 auto;
    padding-top: 130px;
}

#intro-graphic img {
    height: auto;
    width: 100%;
}